body {
    #background: #100478;
    #color: white;
}

.button {
  background-color: darkgray;
  border: none;
  color: black;
  padding: 15px 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: #008CBA;
  color: white;
}

.submit:hover {
  background-color: #008CBA;
  color: white;
}

.devices_bar {
  margin-top: 8px;
  min-width: 200px;
  background-color: #0000ff;
  height: auto;
  min-height: 700px;
  float: left;
  color: aliceblue;
}

.device_services_bar {
  margin-top: 8px;
  min-width: 200px;
  background-color: #3366ff;
  float: left;
  min-height: 700px;
}